---
import Layout from '@layouts/Layout.astro';
---

<Layout title="she_skin" transparentHeader={true} neonGreenMenu={true}>
  <main class="fixed inset-0 w-full h-full overflow-hidden">
    <video
      class="absolute inset-0 w-full h-full object-cover"
      src="https://www.sheskin.org/wp-content/uploads/2026/01/letter.mp4"
      autoplay
      muted
      loop
      playsinline
    />
  </main>
</Layout>
